###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Aa]ssets/AddressableAssetsData/
[Bb]uild/
[Bb]uilds/
[Ll]ibrary/
[Ll]ogs/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
[Rr]ecordings/
[Uu]serSettings
OBJExport/
com.8bitgoose.asciifbxexporter/
*.log
*.dwlt
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta
com.8bitgoose.asciifbxexporter.meta
OBJExport.meta

###
# VS/MD solution and project files
###
.vs/
.vscode/
[Ee]xportedObj/
*.booproj
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store
.vsconfig
*.csproj
*.sln
*.rar
*.zip

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db